/*Reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin:1%;
}
/*layout header*/
header{
  background-color: yellow;
  height: 200px;
}
/*layout blocchi nel main*/
main{
  margin: 0.5% 0;

}
.block{
  float: left;
  margin: 0.5% 0;
}
.pink{
  width: 24%;
  height: 350px;
  background-color: pink;
}
.purple{
  width: 49%;
  margin: 0.5% 1%;
  height: 500px;
  background-color: purple;
}
.pink-two{
  width: 25%;
  height: 200px;
  background-color: pink;
}
/*footer in fondo alla pagina*/
main::after {
  content: "";
  display: table;
  clear: both;
}
/*layout footer*/
footer{
  height: 100px;
  background-color: cyan;
}
